<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spring Proj Two</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <center>
          <h2><b>Welcome to My Spring Project One</b></h2>
        </center>
        <br />
        <p style="font-size: 16">
          Hello,I am AungPhyoHan.This project is to provide CRUD without DB.
          <br />
          <i style="font-size: 14px"
            >This product includes a LinkedList that provides CRUD,person Model
            and A controller that includes a lot of different endpoints.</i
          >
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a
            href=""
            class="btn btn-primary form-control"
            style="font-size: 17px"
            >PROJECTS</a
          >
        </div>
        <div class="col-md-6">
          <a
            th:href="@{/employee/}"
            class="btn btn-primary form-control"
            style="font-size: 17px"
            >EMPLOYEE</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
